rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /words/{word} {
      allow read;
      allow delete, update, create: if false;
    }
    match /books/{bookId} {
      allow read;
      allow delete, update, create: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
